
<div class="panel-body">

    <div class="row">
        <div class="col-lg-12">
            <h3>{{ question.survey.text }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <hr />
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'answer' survey.id %}" method="post">
                {% csrf_token %}

                {{form.as_ul}}
                <hr />

                <button type="submit" class="btn btn-info">
                    Готово
                </button>
            </form>
        </div>
    </div>
</div>